name: Ma premiere CI

on: 
  push:
    branches: [main]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          cache: 'npm'
      - run: npm install
      - run: npm run lint
      - run: npm test
      
      - name: Create deployment
        uses: sws2apps/render-deployment@main #consider using pin for dependabot auto update
        with:
          serviceId: srv-d5pi9o7gi27c73fo7s60
          apiKey: rnd_tkgjClP1l9kj5GiEAef0qeCGWTU3