name: Ma premiere CI

on:
  push:
    tags:
      - 'dev-*'

jobs:
  build:                       # Job build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Run tests
        run: npm test

  deploy:                      # Job deploy séparé au même niveau que build
    runs-on: ubuntu-latest
    needs: build               # ne se lance que si build passe
    steps:
      - name: Deploy to Render
        uses: ttskch/render-deploy@v1.0.0
        with:
          apiKey: ${{ secrets.RENDER_API_KEY }}
          serviceId: ${{ secrets.RENDER_SERVICE_ID }}
