name: Ma premiere CI

on:
  push:
    tags:
      - 'dev-*'

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          cache: 'npm'
      - run: npm install
      - run: npm run lint
      - run: npm test
      
    deploy:
      runs-on: ubuntu-latest
      steps:
        - uses: ttskch/render-deploy@v1.0.0
          with:
          apiKey: ${{ secrets.RENDER_API_KEY }}
          serviceId: ${{ secrets.RENDER_SERVICE_ID }}